body {
  padding: 0;
  margin: 0;
  background-color: #F3F3F3;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 17px;
  background-color: white;

  &__logo {
    width: 162px;
    height: 44px;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background: #EAEAEA;
  box-shadow: 0px 4px 4px 0px #00000040;


  &__icon {
    font-size: 20px;
    color: #000;
  }

  &__text {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
  }
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 40px 0;


  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: #000;
  }

  &__paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    color: #555;
  }

  &__button {
    width: 218px;
    height: 50px;
    color: #ffffff;
    font-size: 16px;
    background: linear-gradient(357deg, #9356DC, #FF79DA);
    border-radius: 25px;
    border: none;
    font-weight: 500;
    box-shadow: 0 4px 10px 0 #d5d5d5;
    cursor: pointer;
    margin: 27px 75px 57px 82px;
    transition: opacity 300ms ease-in-out;
  }

  &__button:hover {
     opacity: 0.88;
      box-shadow: 0 4px 10px 0 #afafaf;
}

}

.functionality {
  padding: 20px 180px;
  background-color: white;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;

  &__espace { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    text-align: left;
  }

  &__button {
    width: 322.49px;
    height: 72.38px;
    background-color: #F6F6F6;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 27px;
    padding-left: 34px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    position: relative;

    i {
      font-size: 20px;
      color: #7E7E7E;
      transition: color 0.3s ease;
    }

    &:hover i {
      color: #9356DC;
    }
  }

  &__step {
    width: 24px;
    height: 24px;
    background-color: rgba(147, 86, 220, 1);
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: -12px;
  }

}

.restaurants {
  padding: 54px 180px;
  display: flex;
  flex-direction: column;

  &__espace {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .restaurants__new {
  width: 80px;
  height: 25px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 12px;
  z-index: 10;
}


  article {
    width: 340px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
    position: relative;

    img {
      width: 100%;
      height: 174px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }

    .card-content {
      height: 77px;
      padding: 0px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 18px;
      width: 267px;
      height: 20px;
      margin: 0;
    }

    h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16px;
      width: 247px;
      height: 24px;
      margin: 5px 0 0 0;
    }

    i {
      font-size: 25px;
      position: absolute;
      right: 20px;
      top: 200px;
      cursor: pointer;
      transition: color 0.3s ease;
    }

    i:hover {
      color: #9356DC;
    }
  }
}

.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;

  img {
    width: 100px;
    height: 27px;
    filter: brightness(0) invert(1);
    padding-bottom: 18px;
  }

  h2 {
    margin: 7px 0;
  }

  .footer__link {
    display: flex;
    align-items: center;
    gap: 11px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    margin: 0;

    i {
      font-size: 16px;
    }
  }

  .footer__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 0;
    padding-bottom: 7px;

  }
}


@media (min-width: 1024px) {
 

  .location {
    box-shadow: none;
  }

  .menu-section__title {
    font-size: 40px;
    padding-bottom: 10px;
  }


 .functionality__espace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .functionality__title {
    padding-bottom: 25px;
  }

  .restaurants__espace {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .restaurants__position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
}

.restaurants article {
    width: 50%;
  }

  .footer {
     display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }

  .footer img {
    padding-bottom: 0;
  }

  .footer .footer__text {
    padding: 0;
  }
}