body {
  padding: 0;
  margin: 0;
  background-color: #F3F3F3;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 17px;
  background-color: white;

  &__logo {
    width: 162px;
    height: 44px;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background: #EAEAEA;
  box-shadow: 0px 4px 4px 0px #00000040;


  &__icon {
    font-size: 20px;
    color: #000;
  }

  &__text {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
  }
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 40px 0;


  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: #000;
  }

  &__paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    color: #555;
  }

  &__button {
    width: 218px;
    height: 50px;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    border: none;
    border-radius: 25px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

}

.functionality {
  padding: 20px;
  background-color: white;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;

  &__espace { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    text-align: left;
  }

  &__button {
    width: 322.49px;
    height: 72.38px;
    background-color: #F6F6F6;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 27px;
    padding-left: 34px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    position: relative;

    i {
      font-size: 20px;
      color: #7E7E7E;
      transition: color 0.3s ease;
    }

    &:hover i {
      color: #9356DC;
    }
  }

  &__step {
    width: 24px;
    height: 24px;
    background-color: rgba(147, 86, 220, 1);
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    left: -12px;
  }

}

.restaurant-card {
  width: 340px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;

  &__image {
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .card-content {
    height: 77px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
  }

  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 5px 0 0 0;
  }

  .heart {
  position: absolute;
  right: 20px;
  top: 200px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  input {
    display: none;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
  }
  .heart-full {
    opacity: 0;
  }
  input:checked ~ .heart-full {
    opacity: 1;
  }
  input:checked ~ .heart-empty {
    opacity: 0;
  }
}


.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;

  img {
    width: 100px;
    height: 27px;
    filter: brightness(0) invert(1);
    padding-bottom: 18px;
  }

  h2 {
    margin: 7px 0;
  }

  .footer__link {
    display: flex;
    align-items: center;
    gap: 11px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    margin: 0;

    i {
      font-size: 16px;
    }
  }

  .footer__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 0;
    padding-bottom: 7px;

  }
}
}