
.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;

  img {
    width: 100px;
    height: 27px;
    filter: brightness(0) invert(1);
    padding-bottom: 18px;
  }

  h2 {
    margin: 7px 0;
  }

  .footer__link {
    display: flex;
    align-items: center;
    gap: 11px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    margin: 0;

    i {
      font-size: 16px;
    }
  }

  .footer__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 0;
    padding-bottom: 7px;

  }
}

@media (min-width: 1024px) {

  .footer {
    display: flex;
    flex-direction: row;       
    align-items: center;
    justify-content: flex-end; 
    height: 114px;
    gap: 40px;
  }

  .footer img {
    order: 2;
    padding-bottom: 0;

  }

  
  .footer__links {
    display: flex;
    flex-direction: row;  
    align-items: center;
    gap: 50px;            
  

  
  .footer__links-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  
  .footer__links-text {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  
  .footer__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;

    i {
      font-size: 18px;
    }
  }

  .footer__text {
    padding: 0;
    font-size: 16px;
    cursor: pointer;
  }

}
}
