.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 17px;
  background-color: white;

  &__logo {
    width: 162px;
    height: 44px;
  }

  &__icon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }
}