.carte__heart {
    position: absolute;
    right: 20px;
    top: 200px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    &-full {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease;
      opacity: 0;
    }

    &-empty {
      position: absolute;
      width: 100%;   
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease;
      opacity: 1;
    }

    
  }
  .menu__heart {
    position: absolute;
    right: 40px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
  

  .carte__input:checked {
    ~ .carte__heart-empty {
      opacity: 0;
    }

    ~ .carte__heart-full {
      opacity: 1;
    }
  }

  @media (min-width: 1024px) {
    .menu__heart {
    position: absolute;
    right: 480px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

}