  .button {
    width: 218px;
    height: 50px;
    color: #ffffff;
    font-size: 16px;
    background: linear-gradient(357deg, #9356DC, #FF79DA);
    border-radius: 25px;
    border: none;
    font-weight: 500;
    box-shadow: 0 4px 10px 0 #d5d5d5;
    cursor: pointer;
    margin: 27px 75px 57px 82px;
    transition: opacity 300ms ease-in-out;
  }

  &:hover {
    opacity: 0.88;
    box-shadow: 0 4px 10px 0 #afafaf;
  }


  