.menu {
  background: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  padding-top: 32px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 40px;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }



  &__title {
    font-family: "Shrikhand";
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    margin: 0;
  }

  &__icon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }


  &__category {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      margin: 0;
      color: #101010;

    }
  }


  &__underline {
    width: 40px;
    height: 0px;
    border-bottom: 3px solid #99E2D0;
    opacity: 1;
  }

  .menu__item {
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;

    &:hover .menu__checkout {
      margin-right: 0;
    }


    .menu__item__info {
      padding-left: 15px;
    }

    .menu__price {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .menu__checkout {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 69px;
      background-color: #99E2D0;
      border-radius: 0px 15px 15px 0px;
      margin-right: -60px;
      font-weight: 900;
      color: white;
      font-size: 24px;
      transition: margin-right 600ms cubic-bezier(0.63, 1.23, 0.96, 0.92), transform 600ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
      position: relative;

      &-icon {
        color: white;
        font-size: 28px;
         transition: transform 600ms cubic-bezier(0.63, 1.23, 0.96, 0.92);

      }
    }

  }

  .menu__item__info h2 {
    margin: 0;
    font-size: 18px;

  }

  .menu__item__info p {
    margin: 0;
    font-size: 15px;

  }

  &__price h2 {
    margin: 0;
    font-size: 15px;
    padding-top: 20px;
    padding-right: 15px;
  }
}

.menu__check:checked+.menu__item .menu__check {
  transform: rotate(360deg);
  margin-right: 0;
}

.menu__check:checked + .menu__item .menu__check .menu__checkout-icon {
  transform: rotate(360deg);
    transition: transform 600ms cubic-bezier(0.63, 1.23, 0.96, 0.92);

}


@media (min-width: 1024px) {


  .menu__header {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .menu {
    margin-left: 193px;
    margin-right: 192px;
    padding-left: 210px;
    padding-right: 210px;
  }

}