.carte {
  width: 340px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;

  &__link {
    color: black;
    text-decoration: none;
    display: block;
  }

  &__image {
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  &__label {
    width: 80px;
    height: 25px;
    background-color: #99E2D0;
    color: #008766;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 13px;
    right: 12px;
    z-index: 10;
  }
  
    &-full {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease;
      opacity: 0;
    }

    &-empty {
      position: absolute;
      width: 100%;   
      height: 100%;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease;
      opacity: 1;
    }
  }

  .carte__content {
    height: 77px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    &__title {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 18px;
      margin: 0;
    }

    &__subtitle {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16px;
      margin: 5px 0 0 0;
    }
  
     .restaurants__espace { 
     display: flex;
    flex-direction: column;
    align-items: center;
}
    
  

  


/* --- MEDIA DESKTOP --- */

@media (min-width: 1024px) {
  .restaurants {
    padding: 54px 180px;

    &__espace {
      width: 100%;
    }

    &__position {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      width: 100%;
    }

    .carte {
      width: 50%;
    }
  }
}
