.restaurants {
  display: flex;
  flex-direction: column;

  &__espace {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .restaurants__new {
    width: 80px;
    height: 25px;
    background-color: #99E2D0;
    color: #008766;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 13px;
    right: 12px;
    z-index: 10;
  }


  article {
    width: 340px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
    position: relative;

    a {
      color: black;
      text-decoration: none;
    }


    img {
      width: 100%;
      height: 174px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }

    .card-content {
      height: 77px;
      padding: 0px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 18px;
      width: 267px;
      height: 20px;
      margin: 0;
    }

    h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16px;
      width: 247px;
      height: 24px;
      margin: 5px 0 0 0;
    }

    i {
      font-size: 25px;
      position: absolute;
      right: 20px;
      top: 200px;
      cursor: pointer;
      transition: color 0.3s ease;
    }

    i:hover {
      color: #9356DC;
    }
  }
}

@media (min-width: 1024px) {
   .restaurants {
    padding: 54px 180px;
  }

  .restaurants__espace {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .restaurants__position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
  }

  .restaurants article {
    width: 50%;
  }
}