&__button {
    width: 322.49px;
    height: 72.38px;
    background-color: #F6F6F6;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 27px;
    padding-left: 34px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    position: relative;

    i {
      font-size: 20px;
      color: #7E7E7E;
      transition: color 0.3s ease;
    }

    &:hover i {
      color: #9356DC;
    }
  }



  