.restaurants {
  display: flex;
  flex-direction: column;
}
.restaurants__espace {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.restaurants .restaurants__new {
  width: 80px;
  height: 25px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 12px;
  z-index: 10;
}
.restaurants article {
  width: 340px;
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
}
.restaurants article a {
  color: black;
  text-decoration: none;
}
.restaurants article img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants article .card-content {
  height: 77px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants article h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 267px;
  height: 20px;
  margin: 0;
}
.restaurants article h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 247px;
  height: 24px;
  margin: 5px 0 0 0;
}
.restaurants article i {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 200px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.restaurants article i:hover {
  color: #9356DC;
}