.menu {
  background: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  padding-top: 32px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 40px;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}
.menu__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
}
.menu__icon {
  font-size: 24px;
  color: #000;
  cursor: pointer;
}
.menu__category {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu__category p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0;
  color: #101010;
}
.menu__underline {
  width: 40px;
  height: 0px;
  border-bottom: 3px solid #99E2D0;
  opacity: 1;
}
.menu__item {
  background: white;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
}
.menu .menu__info h2 {
  margin: 0;
  font-size: 18px;
}
.menu .menu__info p {
  margin: 0;
  font-size: 15px;
}
.menu__price h2 {
  margin: 0;
  font-size: 15px;
}