.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 17px;
  background-color: white;
}
.header__logo {
  width: 162px;
  height: 44px;
}
.header__icon {
  font-size: 24px;
  color: #000;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.carte {
  width: 340px;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 25px;
  position: relative;
}
.carte__link {
  color: black;
  text-decoration: none;
  display: block;
}
.carte__image {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.carte__label {
  width: 80px;
  height: 25px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 12px;
  z-index: 10;
}
.carte-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.carte-empty {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.carte__content {
  height: 77px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carte__content__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.carte__content__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 5px 0 0 0;
}

.restaurants h1 {
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  text-align: left;
}
.restaurants__espace {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- MEDIA DESKTOP --- */
@media (min-width: 1024px) {
  .restaurants {
    padding: 54px 180px;
  }
  .restaurants h1 {
    padding-left: 0;
  }
  .restaurants__espace {
    width: 100%;
  }
  .restaurants__position {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
  }
  .restaurants .carte {
    width: 50%;
  }
}
.button-container {
  display: flex;
  justify-content: center;
}

.button {
  width: 218px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  cursor: pointer;
  margin: 27px 75px 57px 82px;
  transition: opacity 300ms ease-in-out;
}
.button:hover {
  opacity: 0.88;
  box-shadow: 0 4px 10px 0 #afafaf;
}

.carte__heart {
  position: absolute;
  right: 20px;
  top: 200px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.carte__heart-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.carte__heart-empty {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.menu__heart {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.carte__input:checked ~ .carte__heart-empty {
  opacity: 0;
}
.carte__input:checked ~ .carte__heart-full {
  opacity: 1;
}

@media (min-width: 1024px) {
  .menu__heart {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
}
.footer img {
  width: 100px;
  height: 27px;
  filter: brightness(0) invert(1);
  padding-bottom: 18px;
}
.footer h2 {
  margin: 7px 0;
}
.footer .footer__link {
  display: flex;
  align-items: center;
  gap: 11px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  margin: 0;
}
.footer .footer__link i {
  font-size: 16px;
}
.footer .footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin: 0;
  padding-bottom: 7px;
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 114px;
    gap: 40px;
  }
  .footer img {
    order: 2;
    padding-bottom: 0;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  .footer__links .footer__links-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .footer__links .footer__links-text {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .footer__links .footer__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
  }
  .footer__links .footer__link i {
    font-size: 18px;
  }
  .footer__links .footer__text {
    padding: 0;
    font-size: 16px;
    cursor: pointer;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loader .dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #9356DC;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}
.loader .dot:nth-child(2) {
  animation-delay: 0.2s;
}
.loader .dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 0.5;
  }
  to {
    transform: translateY(-15px);
    opacity: 1;
  }
}
body {
  padding: 0;
  margin: 0;
  background-color: #F3F3F3;
}
body .loader {
  animation: fadeOut 1ms 3s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location__icon {
  font-size: 20px;
  color: #000;
}
.location__text {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 40px 0;
}
.menu-section__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  color: #000;
}
.menu-section__paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  color: #555;
}

.functionality {
  background-color: white;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.functionality__espace {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.functionality__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  text-align: left;
  padding-left: 20px;
}
.functionality__button {
  width: 322.49px;
  height: 72.38px;
  background-color: #F6F6F6;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 27px;
  padding-left: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  position: relative;
}
.functionality__button i {
  font-size: 20px;
  color: #7E7E7E;
  transition: color 0.3s ease;
}
.functionality__button:hover i {
  color: #9356DC;
}
.functionality__step {
  width: 24px;
  height: 24px;
  background-color: rgb(147, 86, 220);
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -12px;
}

@media (min-width: 1024px) {
  .location {
    box-shadow: none;
  }
  .menu-section__title {
    font-size: 40px;
    padding-bottom: 10px;
  }
  .functionality {
    padding-left: 11%;
    padding-right: 11%;
  }
  .functionality__button {
    width: 30%;
  }
  .functionality__espace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .functionality__title {
    padding-bottom: 25px;
  }
  .restaurants {
    padding: 54px 180px;
  }
  .restaurants__espace {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .restaurants__position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
  }
  .restaurants article {
    width: 50%;
  }
}