.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 17px;
  background-color: white;
}
.header__logo {
  width: 162px;
  height: 44px;
}
.header__icon {
  font-size: 24px;
  color: #000;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  width: 218px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  cursor: pointer;
  margin: 27px 75px 57px 82px;
  transition: opacity 300ms ease-in-out;
}
.button:hover {
  opacity: 0.88;
  box-shadow: 0 4px 10px 0 #afafaf;
}

.menu {
  background: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  padding-top: 32px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 40px;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}
.menu__title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0;
}
.menu__icon {
  font-size: 24px;
  color: #000;
  cursor: pointer;
}
.menu__category {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu__category p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0;
  color: #101010;
}
.menu__underline {
  width: 40px;
  height: 0px;
  border-bottom: 3px solid #99E2D0;
  opacity: 1;
}
.menu .menu__item {
  background: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
.menu .menu__item:hover .menu__checkout {
  margin-right: 0;
}
.menu .menu__item .menu__item__info {
  padding-left: 15px;
}
.menu .menu__item .menu__price {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu .menu__item .menu__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 69px;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  margin-right: -60px;
  font-weight: 900;
  color: white;
  font-size: 24px;
  transition: margin-right 600ms cubic-bezier(0.63, 1.23, 0.96, 0.92), transform 600ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
  position: relative;
}
.menu .menu__item .menu__checkout-icon {
  color: white;
  font-size: 28px;
  transition: transform 600ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}
.menu .menu__item__info h2 {
  margin: 0;
  font-size: 18px;
}
.menu .menu__item__info p {
  margin: 0;
  font-size: 15px;
}
.menu__price h2 {
  margin: 0;
  font-size: 15px;
  padding-top: 20px;
  padding-right: 15px;
}

@media (min-width: 1024px) {
  .menu__header {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .menu {
    margin-left: 193px;
    margin-right: 192px;
    padding-left: 210px;
    padding-right: 210px;
  }
}
.carte__heart {
  position: absolute;
  right: 20px;
  top: 200px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.carte__heart-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.carte__heart-empty {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.menu__heart {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.carte__input:checked ~ .carte__heart-empty {
  opacity: 0;
}
.carte__input:checked ~ .carte__heart-full {
  opacity: 1;
}

@media (min-width: 1024px) {
  .menu__heart {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
}
.footer img {
  width: 100px;
  height: 27px;
  filter: brightness(0) invert(1);
  padding-bottom: 18px;
}
.footer h2 {
  margin: 7px 0;
}
.footer .footer__link {
  display: flex;
  align-items: center;
  gap: 11px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  margin: 0;
}
.footer .footer__link i {
  font-size: 16px;
}
.footer .footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin: 0;
  padding-bottom: 7px;
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 114px;
    gap: 40px;
  }
  .footer img {
    order: 2;
    padding-bottom: 0;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  .footer__links .footer__links-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .footer__links .footer__links-text {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .footer__links .footer__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
  }
  .footer__links .footer__link i {
    font-size: 18px;
  }
  .footer__links .footer__text {
    padding: 0;
    font-size: 16px;
    cursor: pointer;
  }
}
body {
  padding: 0;
  margin: 0;
}

@keyframes fadeInCards {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__checkout-label {
  opacity: 0;
  animation: fadeInCards 1s forwards;
}

.card-1 {
  animation-delay: 0.2s;
}

.card-2 {
  animation-delay: 0.4s;
}

.card-3 {
  animation-delay: 0.6s;
}

.card-4 {
  animation-delay: 0.8s;
}

.card-5 {
  animation-delay: 1s;
}

.card-6 {
  animation-delay: 1.2s;
}

.card-7 {
  animation-delay: 1.4s;
}

.card-8 {
  animation-delay: 1.6s;
}

.card-9 {
  animation-delay: 1.8s;
}

.card-10 {
  animation-delay: 2s;
}

.hero__img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.menu__button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .hero__img {
    height: 383px;
  }
}