body {
  padding: 0;
  margin: 0;
  background-color: #F3F3F3;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location__icon {
  font-size: 20px;
  color: #000;
}
.location__text {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 40px 0;
}
.menu-section__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  color: #000;
}
.menu-section__paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  color: #555;
}

.functionality {
  background-color: white;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.functionality__espace {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.functionality__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  text-align: left;
  padding-left: 20px;
}
.functionality__button {
  width: 322.49px;
  height: 72.38px;
  background-color: #F6F6F6;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 27px;
  padding-left: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
  position: relative;
}
.functionality__button i {
  font-size: 20px;
  color: #7E7E7E;
  transition: color 0.3s ease;
}
.functionality__button:hover i {
  color: #9356DC;
}
.functionality__step {
  width: 24px;
  height: 24px;
  background-color: rgb(147, 86, 220);
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -12px;
}

@media (min-width: 1024px) {
  .location {
    box-shadow: none;
  }
  .menu-section__title {
    font-size: 40px;
    padding-bottom: 10px;
  }
  .functionality {
    padding: 20px 180px;
  }
  .functionality__espace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .functionality__title {
    padding-bottom: 25px;
  }
  .restaurants {
    padding: 54px 180px;
  }
  .restaurants__espace {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .restaurants__position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
  }
  .restaurants article {
    width: 50%;
  }
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }
  .footer img {
    padding-bottom: 0;
  }
  .footer .footer__text {
    padding: 0;
  }
}