@use '../base/layouts/header';
@use '../components/button';
@use '../components/card-menu';
@use '../animation/like';
@use '../base/layouts/footer';

body {
  padding: 0;
  margin: 0;
}

@keyframes fadeInCards {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__checkout-label {
  opacity: 0; 
  animation: fadeInCards 1s forwards; 
}

.card-1 { animation-delay: 0.2s; }
.card-2 { animation-delay: 0.4s; }
.card-3 { animation-delay: 0.6s; }
.card-4 { animation-delay: 0.8s; }
.card-5 { animation-delay: 1s; }
.card-6 { animation-delay: 1.2s; }
.card-7 { animation-delay: 1.4s; }
.card-8 { animation-delay: 1.6s; }
.card-9 { animation-delay: 1.8s; }
.card-10 { animation-delay: 2s; }




.hero__img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  display: block;
}

.menu__button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .hero__img {
    height: 383px;
  }

}