@use '../base/layouts/header';
@use '../components/button';
@use '../components/card-menu';
@use '../animation/like';
@use '../base/layouts/footer';

body {
  padding: 0;
  margin: 0;
}


.hero__img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  display: block;
}

.menu__button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .hero__img {
    height: 383px;
  }

}