body {
  padding: 0;
  margin: 0;
  background-color: #F3F3F3;
  }

  @import '../base/layouts/footer';
  @import '../components/button';
  @import '../components/card-menu-restaurant';
  @import '../base/layouts/header';
  

 .hero__img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    display: block;
  }

.menu__button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

@media (min-width: 1024px) {
.hero__img {
    height: 383px;
  }

}