body {
  padding: 0;
  margin: 0;
  background-color: #F3F3F3;
}
.header {
  width: 100%;
  background-color: white;

  &__top {
    position: relative; 
    height: 60px; 
    display: flex;
    justify-content: center; 
    align-items: center;

    .header__icon {
      position: absolute; 
      left: 20px; 
      width: 17.2px;
      height: 16px;
      font-size: 17px;
      color: #000;
      cursor: pointer;
    }

    .header__logo {
      font-weight: 400;
      height: 30px;
      width: auto;
    }
  }

  &__img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    display: block;
  }
}

.menu {
  background: #F6F6F6;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  padding-top: 32px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 40px;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }

  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
  }

  &__title {
    font-family: "Shrikhand";
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    margin: 0;
  }

  &__icon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }

  
  &__category {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      margin: 0;
      color: #101010;
    }
  }

  
  &__underline {
    width: 40px;
    height: 0px;
    border-bottom: 3px solid #99E2D0;
    opacity: 1;
  }


  &__item {
    background: white;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  }

  .menu__info h2 {
  margin: 0;
  font-size: 18px;
}

.menu__info p {
  margin: 0;
  font-size: 15px;
}

  &__price h2 {
    margin: 0;
    font-size: 15px;
  }
}

.menu__button-container {
  display: flex;
  justify-content: center; // centre le bouton horizontalement
  margin-top: 20px; // tu peux ajuster si besoin
}

.menu__button {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;

  img {
    width: 100px;
    height: 27px;
    filter: brightness(0) invert(1);
    padding-bottom: 18px;
  }

  h2 {
    margin: 7px 0;
  }

  .footer__link {
    display: flex;
    align-items: center;
    gap: 11px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    margin: 0;

    i {
      font-size: 16px;
    }
  }

  .footer__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin: 0;
    padding-bottom: 7px;

  }
}


@media (min-width: 1024px) {
  
  .header__img {
    height: 383px;
  }

  .menu__header {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .menu {
  margin-left: 193px;
  margin-right: 192px;
  padding-left: 210px;
  padding-right: 210px;
  }

  .footer {
     display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }

  .footer img {
    padding-bottom: 0;
  }

  .footer .footer__text {
    padding: 0;
  }

}
  